# Dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
data = pd.read_csv('/Users/thuyduc/Python Learning/Applied Data Science Michigan/Resources/Course 1/Module 1/Datasets/Admission_Predict.csv')

data.columns = data.columns.str.strip()

data = data[['TOEFL Score','CGPA', 'Chance of Admit']].copy()
data = data.dropna()
data.head()

   TOEFL Score  CGPA  Chance of Admit
0          118  9.65             0.92
1          107  8.87             0.76
2          104  8.00             0.72
3          110  8.67             0.80
4          103  8.21             0.65

# MSE

In [ ]:
X = data[['TOEFL Score','CGPA']].to

In [ ]:
def calculate_y_hat(w, b):
    y_hat = np.dot()